/* APP CSS FILE */

/* 
  Root Container
*/
#root {
  padding: 0;
}

/* 
  APP container
*/

.App {
  padding: 0;
}

/*
   Header Component 
*/

#main__header {
  width: 100%;
  height: 100px;
  background-color: var(--metallic-indigo-purple);
}

#main__header .container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#main__header nav {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main__header nav a:hover {
  text-decoration: underline;
}

