/* APP CSS FILE */

/* 
  Root Container
*/
#root {
  padding: 0;
}

/* 
  APP container
*/

.App {
  padding: 0;
}

/*
   Header Component 
*/

#main__header {
  width: 100%;
  height: 80px;
  background-color: var(--metallic-indigo-purple);
}

#main__header .container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#main__header nav {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main__header nav a:hover {
  text-decoration: underline;
}

/* 
  Hero Component
*/

#Hero {
  position: relative;
  width: 100%;
  height: 500px;
}
#Hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('./img/choong-deng-xiang--WXQm_NTK0U-unsplash.jpg') center/cover no-repeat;
  filter: grayscale(77%);
  z-index: -1;
}

/* 
  Image
  https://unsplash.com/photos/-WXQm_NTK0U?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink  
*/

.hero__content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7); /* Background effect */
  color: white; /* Text color */
}

.hero__content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero__content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.hero__content a {
  display: inline-block;
  padding: 10px 20px;
  background: var(--metallic-jade-green);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.hero__content a:hover {
  background: var(--metallic-emerald-green);
}

/* 
  Services Component
*/

/* Services Component */

#services {
  background-color: var(--metallic-navy-blue);
}

#services .services__content {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

#services .services__content .services__text {
  flex: 1; 
  max-width: 600px;
}

#services .services__content .services__text h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

#services .services__content .services__text p {
  font-size: 16px;
  line-height: 1.5;
}

#services .services__content .services__image__container {
  flex: 1; 
  max-width: 600px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#services .services__content .services__image__container img {
  max-width: 100%;
  height: auto; 
  display: block; 
}

#services .services__features {
  padding: 20px;
  text-align: center;
}

#services .services__features h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

#services .services__features .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#services .services__features .features div {
  flex: 1; 
  max-width: 30%; 
  height: 250px;
  background-color: var(--metallic-midnight-black);
  padding: 10px;
  border-radius: 10px;
}

#services .services__features h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

#services .services__features i {
  font-size: 2.5em;
  margin-bottom: 5px;
  color: var(--metallic-jade-green);
}

#services .services__features p {
  font-size: 14px;
  line-height: 1.4;
}
