@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --metallic-deep-green: #00563F;
  --metallic-teal-blue: #007D84;
  --metallic-royal-purple: #3E006F;

  --metallic-navy-blue: #001F3F;
  --metallic-indigo-purple: #3F006F;
  --metallic-midnight-black: #121212;

  --metallic-emerald-green: #007B5F;
  --metallic-sapphire-blue: #005A7D;
  --metallic-obsidian-black: #0C0C0C;

  --metallic-azure-blue: #007DBA;
  --metallic-lavender-purple: #7D4D99;
  --metallic-jade-green: #006D5A;
}

body {
  background-color: var(--metallic-midnight-black);
  color: #f2f2f2;
  font-family: 'Nunito', sans-serif;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: var(--metallic-emerald-green)
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--metallic-emerald-green);
}

span, div, form, input {
  padding: 5px;
}